[2012-03-30 00:48] caniszczyk opened #1 "Publish to rubygems.org"
1) change the s.name to "twitter-cldr-rb"
2) ensure we are at least at version 1.0.0
3) follow semver.org

[2012-03-30 15:42] #1 closed, assigned to nobody

[2012-03-30 16:56] kristianfreeman opened #3 "What constitutes a complete locale?"
The README suggests that some locales have unfinished number sections -- what defines when it's complete?

I'm interested in creating an example locale with the necessary fields to define "complete". Tests can then be ran against it to determine completeness.

[2012-04-20 04:24] tanin47 opened #20 "A year's number in Thai should be (year+543), e.g. 2012 -> 2555."
The year's number in Thai is the year's number in English added with 543.

It's called Buddhist Era.

According to http://unicode.org/reports/tr35/tr35-6.html, Thai Buddhist Calendar (same as Gregorian except for the year)

Laos also use the adding number, 543.
Myanmar, Cambodia and Sri Lanka also use a Buddhist Era but slightly different.

I've looked at the CLDR Specification. It doesn't support

[2012-04-23 22:54] caniszczyk opened #21 "Add License Header to each .rb file"
A license should be attached to each .rb source file:

"Copyright 2012 Twitter, Inc

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is

[2012-04-25 17:18] #21 closed, assigned to camertron

[2012-05-01 19:31] KL-7 opened #27 "RFC"
Hi, @camertron. I read through some of the gem's code (and going to read more) and have some ideas that I'd like to share with you. If you like any of them, I'll prepare a pull request.
1. To handle various types of formatting in `LocalizedDateTime` we [use](https://github.com/twitter/twitter-cldr-rb/blob/master/lib/ext/calendars/datetime.rb#L14-21) `method_missing`. It's considered a good habit w

[2012-05-03 00:50] #20 closed, assigned to nobody

[2012-05-25 20:34] #27 closed, assigned to nobody

[2012-05-27 16:31] KL-7 opened #34 "Extract nested hashes traversing into a utility funciton."
There're several places where we need to dig deep into the nested hash and prevent any exceptions that might happen if at some level of the hash the value is missing. That kind of traversing is implemented in [several](https://github.com/twitter/twitter-cldr-rb/blob/e02ee014241bfe67bf2a5367cfbe96fc448452a8/lib/twitter_cldr/tokenizers/base.rb#L78-87) [places](https://github.com/twitter/twitter-cldr

[2012-05-27 16:36] KL-7 opened #35 "Throw custom exception when resource is missing."
When the resource that is being loaded through [`Resources#resource_for`](https://github.com/twitter/twitter-cldr-rb/blob/e02ee014241bfe67bf2a5367cfbe96fc448452a8/lib/twitter_cldr/shared/resources.rb#L16-18) is missing user gets not very nice exception saying that file or directory is not found. This exception should be rescued and wrapped with some custom exception saying that requested resource

[2012-05-27 16:41] KL-7 opened #36 "Add rake task for updating resources."
This task should be able to update YAML resources (most likely via ruby-cldr gem) up to a specific version of CLDR data.

[2012-06-01 17:30] #3 closed, assigned to nobody

[2012-06-01 17:30] #35 closed, assigned to nobody

[2012-06-16 19:02] KL-7 opened #43 "Store code points as integers internaly."
At the moment `Normlization` and `Utils::CodePoints` modules and some other random methods are working with code points represented as hex strings (e.g., `'030E'`). It's not very efficient (storing code point as an integer should consume less memory) and requires conversion between strings and integers in some places (e.g., between normalization and collation classes).

Hex string is still a good

[2012-07-10 05:17] KL-7 opened #48 "Use symbol keys in resources"
Right now we're using strings as keys in resources and after loading a resource we process it with `deep_symbolize` method to convert all keys to symbols. It has a pretty serious impact on the loading time of big resource files. A better approach would be to use symbols in the resource files, so there is no need in any additional processing after we load a particular resource.

Another option is t

[2012-07-15 10:30] KL-7 opened #49 "Tailoring: upper-case-first sorting for Danish"
Add support for [`caseFirst="upper"`](unicode.org/cldr/trac/browser/tags/release-21/common/collation/da.xml#L176) tailoring option.

[2012-07-15 10:36] KL-7 opened #50 "Tailoring: backwards accents sorting for French"
Backwards sorting of secondary weights is not enabled in the tailoring rules for `fr` locale, but it's used in `fr_CA` locale and looks like backwards accents sorting, at least as an option, might be useful for more natural French sorting.

We don't really use collation elements continuations, but if there're any in the default FCE table, we need to [take care](http://source.icu-project.org/repos/

[2012-07-15 10:38] KL-7 opened #51 "Tailoring: type="stroke" option for Zh-Hant"
The only thing tailoring rules for `Zh-Hant` locale include is [`type="stroke"`](unicode.org/cldr/trac/browser/tags/release-21/common/collation/zh_Hant.xml#L11) option. We need to investigate what does it mean and handle it properly.

[2012-07-15 10:48] KL-7 opened #52 "Tailoring: denormalized Japanese code points in the default FCE table"
It turned out that some code points occur in the default FCE table in denormalized form. As we always normalize given code points to NFD form, we completely ignore denormalized elements of the FCE table. If processing normalized and denormalized forms results in different collation elements, we get wrong collation order in the end.

This issue affects only one test for Japanese tailoring, but it's

[2012-07-30 13:30] #49 closed, assigned to nobody

[2012-08-01 18:51] #48 closed, assigned to nobody

[2012-08-01 18:52] #43 closed, assigned to nobody

[2012-08-01 18:54] #36 closed, assigned to nobody

[2012-08-06 17:36] #34 closed, assigned to nobody

[2012-08-12 10:42] KL-7 opened #62 "JS spec failures"
We have two failures in JS specs: [`DateTimeFormatter#timezone`](https://github.com/twitter/twitter-cldr-rb/blob/8295b2d7cbb9a48c6e34017d475085f0752915d6/js/spec/js/calendars/datetime_spec.js#L345) and [`CurrencyFormatter#format`](https://github.com/twitter/twitter-cldr-rb/blob/8295b2d7cbb9a48c6e34017d475085f0752915d6/js/spec/js/numbers/currency_spec.js#L16). I'm not sure if the code is broken or

[2012-08-14 18:37] srl295 opened #63 "TWITTER_LOCALE_MAP could be a list"
You could consider having it be a list `msa, zh-cn, zh-tw, no.` leveraging cldr supplemental data to calculate the map:
- `msa` to `ms` as 'overlong'
- `no` to `nb` as 'legacy'
- `zh-tw` to `zh-Hant_TW` as likely subtag
- `zh` to `zh-Hans_CN` as likely subtag

[2012-08-15 21:49] srl295 opened #64 "numeric collation"
Not sure if this affects you, but FYI http://bugs.icu-project.org/trac/ticket/9476

[2012-08-21 07:38] #51 closed, assigned to nobody

[2012-08-21 17:33] #64 closed, assigned to nobody

[2012-08-22 22:30] KL-7 opened #70 "Add setter for global TwitterCLDR locale"
It'd be nice to have a way for changing default locale that is used across the gem when you don't specify locale explicitly. See #67 for the background.

[2012-08-23 04:40] #62 closed, assigned to nobody

[2012-08-24 18:35] #50 closed, assigned to nobody

[2012-08-24 18:41] camertron opened #71 "Count number of characters in a string accurately"
TwitterCLDR does not yet support counting characters instead of bytes in instances of `LocalizedString`.  There are a few other operations that could make use of such functionality, like `each_char` etc.

[2012-08-27 21:12] #71 closed, assigned to nobody

[2012-10-08 16:37] istana opened #79 "new languages from CLDR 22?"
Hi,  there are new languages added in CLDR 22 (like Slovak). Do you have any plans to support them?

Ivan

[2012-10-25 17:16] #79 closed, assigned to nobody

[2012-10-25 17:17] #63 closed, assigned to nobody

[2013-01-10 19:06] jasonkb opened #94 "Icelandic and Croatian as supported languages?"
Airbnb supports Icelandic and (in development) Croatian. It looks like I just have to mkdir the appropriate locales directory to make it supported by twitter-cldr-rb -- would this be a welcome pull request?

Thanks,
Jason

[2013-01-12 11:59] KL-7 opened #95 "Switch from the XML tailoring rules syntax to the basic one."
It's not urgent, but most likely something will need to be done since they plan to remove tailoring rules in XML format from the CLDR data. See [this CLDR ticket](http://unicode.org/cldr/trac/ticket/5551) for more information.

According to the ticket they plan these changes for CLDR version 24, so when we decide to upgrade to this version, we'll need to update [this part](http://unicode.org/cldr/

[2013-01-13 13:08] #70 closed, assigned to nobody

[2013-01-16 04:49] #94 closed, assigned to nobody

[2013-05-13 21:19] jrochkind opened #100 "Any interest in UTR#30 Normalization?"
While [UTR#30](http://www.unicode.org/reports/tr30/tr30-4.html) seems to maybe(?) been formally abandoned as part of Unicode, it is still used by some software, such as current versions of [Solr's ICUFolderFilterFactory](http://wiki.apache.org/solr/AnalyzersTokenizersTokenFilters#solr.ICUFoldingFilterFactory)

I am actually using Solr, and it would be very useful to me (in a complicated use case,

[2013-05-24 21:43] #100 closed, assigned to nobody

[2013-06-18 11:15] shaicoleman opened #101 "Quotes appearing in dates"
DateTime.parse('2000-01-01').localize(:ru).to_date.to_long_s
 => "1 января 2000 'г'."

It should return:
 => "1 января 2000 г."

According to: http://cldr.unicode.org/translation/date-time-patterns

[2013-07-02 15:08] brucepom opened #102 "Patches Time and DateTime but not Date"
Great gem. Thanks!

For me it only patches DateTime and Time, it doesn't patch Date as described in the docs though.

[code]

Tested with Ruby 1.9.3-p194 in irb as well as in a Rails 3 app.

Thanks again.

[2013-07-02 23:01] #102 closed, assigned to nobody

[2013-07-03 10:23] brucepom opened #103 "Pluralization rule for single item in en-GB"
Hi there,

Just noticed what I think might be a minor issue with en-GB. Could be something to look at sometime.

[code]

Pretty sure day should be singular in that case.

Update, looks like there are no plural rules for that locale:

[code]

Thanks!

[2013-07-11 00:47] #103 closed, assigned to nobody

[2013-10-06 17:29] jrochkind opened #105 "interest in supporting unicode upcase/downcase?"
Have any interested in including unicode case change in the gem?  I'm not sure if that falls into the domain of this gem or not?

One way in ruby to do unicode case change is with the (not super well documented) unicode_tools gem.

However, as far as I can tell, most other thing unicode_tools does, twitter_cldr also does (and twitter_cldr does a bunch of things unicode_tools doesn't). If twitter_c

[2013-10-07 15:18] jrochkind opened #106 "Q: sort keys to string?"
Sorry for using the issue tracker for questions like this, let me know if it bugs you.

Thanks for providing the Collation::Collator.get_sort_key method to return a sort key.

It returns an array of integers, which works fine if you're staying in the ruby runtime.

But I'd actually like to store this sort key in an external store, so I can sort by unicode collation in an external store that lacks

[2013-10-08 13:59] jrochkind opened #107 "Three spec failures related to YAML in ruby 2.0"
Appears the custom YAML patch no longer works correctly in ruby 2.0?

[code]

[code]

[2013-10-08 17:28] #105 closed, assigned to nobody

[2013-10-09 18:42] #106 closed, assigned to nobody

[2013-11-07 00:25] jsilland opened #109 "Rule-based number formatters"
I'm opening this bug to track the integration of the RBNF branch into master. We at Strava have been using this branch in our prod environment in the past few weeks and have no bad things to report.

One thing I would like to see supported before the merge happens is obtaining the format suffix for a given value (i.e. in English: 'st' for 1, 'nd' for 2, etc…). If you look at https://github.com/twi

[2013-11-11 19:38] KL-7 opened #110 "Add support for script reordering"
[CLDR 21.0](http://cldr.unicode.org/index/downloads/cldr-21) uses a new concept of [script reordering](http://site.icu-project.org/design/collation/script-reordering) that allows putting native scripts (e.g., Cyrillic for Russian) before Latin characters.

This feature changes the sorting order of native and Latin characters, causing TwitterCLDR to [fail](https://github.com/twitter/twitter-cldr-rb

[2013-11-19 22:45] jrochkind opened #111 "consider using `unf` gem for unicode normalization"
I benchmarked all the ruby unicode normalization alternatives i knew about.

twitter_cldr's comes in awfully slow, slower than anything else.

This apparently little-known gem called [unf](https://github.com/knu/ruby-unf) comes in fastest, on both MRI and jruby. (On jruby it just passes through to Java stdlib; on MRI it uses a C extension).

`unf` appears to be two orders of magnitude faster at un

[2013-12-10 21:20] MrAlexLau opened #112 "Swap translations of 'day' and 'days' in Swedish"
'day' in Swedish is 'dag'
'days' in Swedish is 'dagar'
[examples on google translate](http://translate.google.com/#sv/en/dagar.%20dag)

These 2 translations seem to have been swapped:

[code]

[2013-12-11 05:19] #112 closed, assigned to nobody

[2014-01-14 08:17] #107 closed, assigned to nobody

[2014-01-14 08:18] #101 closed, assigned to nobody

[2014-01-14 08:18] #109 closed, assigned to nobody

[2014-05-01 20:59] fabiokr opened #114 "Sample postal codes"
I'm thinking about implementing a list of samples for the postal codes, and an api like `TwitterCldr::Shared::PostalCodes.sample(:us) # "99999"` using values from here: http://www.geopostcodes.com/resources#countries

Would this be something the maintainers are interesting into getting merged into this lib?

Thanks!

[2014-07-25 23:06] KL-7 opened #122 "Abbreviated number formatting doesn't work for negative numbers"
Not sure if it's supposed to, but I think it would make sense to support negative numbers as well (unless they require some other way of abbreviation for certain locales).

[code]

[2014-07-28 22:17] KL-7 opened #124 "Build is failing on jruby-head"
JRuby-head builds were failing for a while now ([first failed build](https://travis-ci.org/twitter/twitter-cldr-rb/builds/30679612)). It might be related to [this JRuby issue](https://github.com/jruby/jruby/issues/985).

[2014-08-06 23:09] jsilland opened #127 "Incorrect date formatting in Italian"
[code]

As per our Italian linguists, this is incorrect – The correct separator should be a space in this case

[2014-08-08 00:47] KL-7 opened #129 "Short/long decimal formatting ignores pluralization rules"
In some languages you'd say _"1 million"_ but _"2 million<b>s</b>"_. While [CLDR provides](http://unicode.org/cldr/trac/browser/tags/release-24/common/main/ru.xml#L5180) separate pattern for each pluralization category, our implementation doesn't use them to properly format long/short numbers. Neither does ruby-cldr – it exports only one pattern per number type, e.g., only one pattern for thousand

[2014-09-18 17:50] #111 closed, assigned to nobody

[2014-09-18 17:50] #114 closed, assigned to nobody

[2014-10-09 01:45] #122 closed, assigned to nobody

[2014-10-10 19:51] #129 closed, assigned to nobody

[2014-10-22 18:28] KL-7 opened #140 "TwitterCldr doesn't recognize lowercase locales like 'en-gb'"
TwitterCldr expects 'en-gb' and other locales that include region name to be capitalized as 'en-GB'. It's not always convenient and converting lowercase or uppercase strings into this format is a bit tricky. I think we should convert locale names in our resources to lowercase so we can accept locale names with any capitalization.

[2014-11-25 18:31] #127 closed, assigned to nobody

[2014-11-26 18:25] #140 closed, assigned to nobody

[2015-01-05 17:03] caniszczyk opened #145 "Add code coverage via coveralls.io"

[2015-01-05 17:08] caniszczyk opened #146 "Adopt new Travis CI infrastructure"
http://blog.travis-ci.com/2014-12-17-faster-builds-with-container-based-infrastructure/

[2015-01-05 17:09] caniszczyk commented on #146
We probably should look at if we need to build on all these old rubies...

Also, we need to find a way to not use 'sudo'

[2015-01-08 20:14] caniszczyk opened #148 "Minimize builds"
Do we really need to build on everything, even 1.8?

language: ruby
rvm:
  - 1.8.7
  - 1.9.3
  - 2.0.0
  - 2.1.0
  - rbx-2.2.7
  - jruby-head
matrix:
  allow_failures:
    - rvm: rbx-2.2.7
    - rvm: jruby-head

[2015-01-08 20:14] caniszczyk commented on #148
I ask because the build takes a long time now

[2015-01-08 20:25] KL-7 commented on #148
JRuby and Rubinius were added just to see how we perform on them (out of curiosity). Ruby 1.8.7 still gives me a warm feel of nostalgia, but it might make sense to retire it already. Though, I think that should include not only dropping it from the build matrix, but also removing all the little hacks we have for 1.8.7 in our code and releasing a new version that officially supports only Ruby 1.9+.

[2015-01-08 20:44] camertron commented on #148
Ruby 1.8.7 is really only supported because we used to use twitter-cldr-rb in the Monorail™. It's definitely time to retire support for it, so I agree with @KL-7's assessment.

I've seen a few annoying issues with JRuby builds, most often with incompatibilities in the YAML parser. I'd like to maintain support for it because I think it's a runtime a lot of people use. We just need to put in a littl

[2015-01-08 23:28] caniszczyk commented on #146
cc: @KL-7

[2015-01-08 23:28] caniszczyk commented on #146
How can I use it?
Using our new container-based stack only requires one additional line in your .travis.yml:

sudo: false

What are the restrictions?
Using sudo isn't possible (right now)

Our new container stack uses Docker under the hood. This has a lot of benefits like fast boot times and better utilization of available machine resources. But it also comes with restrictions imposed by security.

[2015-01-08 23:29] caniszczyk commented on #146
I see we need one thing to install: libonig-dev via apt-get

[2015-01-09 00:05] caniszczyk commented on #145
https://coveralls.io/r/twitter/twitter-cldr-rb

[2015-01-09 00:05] #145 closed

[2015-01-09 00:06] caniszczyk commented on #146
@KL-7 any idea why we need 'libonig-dev' or @camertron ?

[2015-01-09 00:07] KL-7 commented on #146
Looks like it's all [about 1.8](https://github.com/twitter/twitter-cldr-rb/commit/a1f9a42e3c6178112b8ab288be3fca879b1932f9).

[2015-01-09 00:08] caniszczyk commented on #146
omg lets drop it :)

[2015-01-09 00:10] KL-7 commented on #146
I can look into it tomorrow and try to remove everything 1.8-related from the code. Then we can drop it from the build and release a new 1.8-free version.

[2015-01-09 00:11] caniszczyk commented on #146
Ok, I'm going to drop a build w/o 1.8 with the new Travis CI infra to see how fast the builds can improve

[2015-01-09 00:12] KL-7 commented on #146
ok :crying_cat_face:

[2015-01-09 00:12] caniszczyk commented on #146
TIME TO SEE!  :dash: https://travis-ci.org/twitter/twitter-cldr-rb/builds/46388433

[2015-01-09 00:41] camertron commented on #146
Just a gentle reminder to please bump the major version when releasing a 1.8-free version :)

[2015-01-09 00:43] KL-7 commented on #146
Yeah, definitely.

[2015-01-12 18:51] KL-7 opened #151 "Convert hashes to 1.9 syntax"
Follow-up on #150

[2015-09-21 19:12] camertron opened #162 "The Future™"
I'd like to have a discussion about the future of twitter-cldr-rb (which will also apply to the JavaScript version). I have quite a few ideas for the project, but not all of them are worth devoting a lot of effort to. Here's the list:
1. **Renaming the project** It has become clear over the years that twitter-cldr-rb is not just a wrapper around CLDR data - it's also got a bunch of algorithmic fun

[2015-09-21 22:04] camertron commented on #151
Done!

[2015-09-21 22:04] #151 closed

[2015-09-27 03:44] radzinzki commented on #162
Something like breaking up the project might affect feature development (i.e., in terms of which gem gets which feature, etc.) For this reason, I think it might make sense for us to decide on/tackle the more logistical issues like a name change or the project split before the heavier tasks like feature development. What do you guys think?

[2015-09-27 05:13] camertron commented on #162
@radzinzki Well, the feature development work is stuff that I'm already working on in my (limited) spare time, which might get merged before we've sorted out all the logistics. If we create one gem per feature, dividing the project shouldn't be too difficult.

[2015-09-28 04:19] KL-7 commented on #162
That's a lot of ideas, @camertron! Like that. Here are my thoughts:
 1. I don't think renaming the project and all the gems and repositories is worth it at this point. People who are familiar with the libraries already know what they do and people who aren't should easily figure it out from the READMEs. I agree that we could have picked a better name from the start, but now all the renaming will d

[2015-10-02 10:47] archSeer opened #166 "Switch to i18napis.appspot.com for postal codes."
CLDR v27 deprecated the postal code file: http://unicode.org/reports/tr35/tr35-info.html#Postal_Code_Validation

[2015-10-02 15:03] camertron commented on #162
1. Ok, I'm cool with keeping the name the same.
2. I'm not sure how incomplete the JSON data is. I just remember that last time I looked at date formatting, I couldn't find all the data I needed. Everything is present in the XML. Another thing to consider is that CLDR doesn't consider the JSON format to be "official." There does seem to be quite a bit of momentum behind it, mostly because of JavaS

[2015-10-02 15:25] camertron commented on #166
Awesome, thanks for the heads-up @archSeer. It shouldn't be too difficult to switch to the new source. I'll see what I can do.

[2015-10-02 22:23] camertron commented on #166
See #167

[2015-10-03 22:12] KL-7 commented on #162
3. My concern is that unless the separation is absolutely straight-forward and obvious (e.g., in Rails every gem has its own top-level module), separation actually makes it harder to find certain things if you want to check out the source code. I ran into that issue myself with Rspec – even though their separation is quite simple, I wasn't familiar with it and it took me a while to locate the clas

[2015-10-08 14:47] camertron commented on #162
Right, releasing interdependent gems can be a real issue. We run into that all the time at Lumosity, actually (lots of PRs that say, "Bumping gem xyz"). Honestly I don't think we would run into those kinds of issues, since the gem hierarchy I'm thinking of would be a single core gem with feature gems built on top. Generally we would release all the gems at the same time, i.e. when we update to a n

[2015-10-08 18:42] KL-7 commented on #162
This is something I definitely agree with. I don't think it's too bad right now, but there's a lot of space for improvement.

[2015-11-01 19:52] #166 closed

[2015-11-01 19:53] camertron commented on #146
I believe this has been resolved - we appear to be using the new Travis containerized infrastructure.

[2015-11-01 19:53] #146 closed

[2015-11-01 19:55] camertron commented on #148
Rubinius builds have been removed from the build matrix and we're tracking JRuby failures via #124. Going to close this issue.

[2015-11-01 19:55] #148 closed

[2015-11-23 20:03] camertron opened #170 "Unicode Properties Refactor"
The Unicode Character Database (UCD) contains a full list of all the characters currently supported by the Unicode standard. This database also contains large lists of _properties_ for these characters. Properties are like categories in that groups of characters belong to a single property. Properties have _names_, but can also have one or more property _values_. Properties can therefore be though

[2015-11-23 23:13] KL-7 commented on #170
That's a lot of pull requests, @camertron. Great work! :+1:
I'm not that familiar with Unicode properties, so I guess I'll need to check some docs before reviewing all the code, but I'll take a look at all this in the next few days.

[2015-11-24 00:03] camertron commented on #170
@KL-7 Yeah it's quite a few PRs :) Thanks in advance for looking at them. I could have submitted the whole thing as one giant PR, but that didn't seem very nice. So now you've got 7, hehehe.

Again, thanks in advance. Here's some [documentation](http://unicode.org/reports/tr44/#Properties).

[2015-12-21 20:22] KL-7 commented on #170
Sorry it took me forever to get to this, Cameron. I'm slowly going through the PRs and plan to finish this in the afternoon.

[2015-12-21 21:49] KL-7 commented on #170
Alright, all done. It still turned out to be more code than I could thoroughly dive into right now, so I did a semi-quick review, adding a few minor comments here and there. I don't want you to be blocked on me for much longer, so I trust you tested everything and made sure it matches the spec :shipit:

[2015-12-22 18:49] camertron commented on #170
Ok, thanks for taking a look @KL-7. I have tested the feature pretty thoroughly via unit tests and also by hand as I was writing it. I'll address your comments and merge :)

[2015-12-23 18:04] #170 closed

[2015-12-29 14:36] sandstrom commented on #162
Thanks for an excellent library! I found this very useful! :boat:

1. **Renaming the project** I think it works, renaming takes a bit of effort. But I also agree that it's not a good name.

2. **Absorb or improve CLDR parsing logic** I understand, perhaps it can be forked/reworked. Agree it would make sense to keep it separate.

3. **Break the project up into different gems** I think this isn't re

[2015-12-29 14:45] sandstrom opened #178 "`Date` + `LocalizedDate` doesn't work"
[code]
---

This line throws the exception:
https://github.com/twitter/twitter-cldr-rb/blob/master/lib/twitter_cldr/localized/localized_date.rb#L46

Possible cause is that [this switch](https://github.com/twitter/twitter-cldr-rb/blob/master/lib/twitter_cldr/localized/localized_date.rb#L19) doesn't handle `Date`. The temporal classes in ruby has always been confusing, there is `Date`, `DateTime` an

[2015-12-30 01:50] camertron commented on #178
Hey @sandstrom thanks for the bug report. My memory is that I removed `Date` support on purpose back when the library still supported Ruby 1.8 and the `to_time` and `to_date` methods didn't exist. Looks like it got added back in, but with a bug. Honestly the "temporal" classes as you call them are confusing and irritating to work with. Should be straightforward to fix however. Are you interested i

[2015-12-30 01:50] camertron commented on #162
Thanks for your input @sandstrom  :)

[2015-12-30 11:22] sandstrom commented on #178
I'm sorry but I don't have time right now, too much regular work. Feel free to close this, or leave it open for a while to see if someone else has the same issue.

Since there is a super-simple work-around available (at least to me) it isn't much of an issue.

[2016-03-23 00:40] Anthony-Gaudino opened #181 "Shorter territory localization code?"
To localize a territory one can use `TwitterCldr::Shared::Territories::from_territory_code_for_locale("gb", :pt)` for example to translate U.K. to Portuguese.

I would like to know if this is the best way to do this, I didn't find any documentation on the readme.md file.

I tough there would be a short alternative like `:gb.localize(:pt)` or `:gb.localize(:pt).to_territory`.

[2016-03-24 17:44] camertron commented on #181
Hey @Anthony-Gaudino, thanks for putting this on my radar. There should definitely be some documentation for this feature, and it should be easier to use as you suggested. As far as the latter concern goes, we should be able to make it easier to use by adding a method to [`LocalizedSymbol`](https://github.com/twitter/twitter-cldr-rb/blob/master/lib/twitter_cldr/localized/localized_symbol.rb). Do y

[2016-03-24 19:07] Anthony-Gaudino commented on #181
Sure, I already have it working like this `:gb.localize(:pt).as_territory`, if `as_territory` is not a good name, please let me know.

I will also update the documentation and tests accordingly.

[2016-03-24 20:23] camertron commented on #181
`#as_territory` is perfect :)

[2016-03-29 02:44] #181 closed

[2016-05-09 08:47] phorsuedzie opened #184 "get_sort_key for special character sequence raises NoMethodError"
`get_sort_key` fails for one character sequence:

[code]

[code]

[2016-05-09 17:23] camertron commented on #184
Hey @phorsuedzie, thanks for the bug report. It looks like the character `\u0D80` is an [unassigned Unicode codepoint](http://demo.icu-project.org/icu-bin/ubrowse?k1=0D80#here) as of UCD v6.3.0, so TwitterCLDR has no information for it:

[code]

Where is this character coming from in your code? It's possible a newer version of the UCD (Unicode Character Database) defines it, but we're stuck on v6.

[2016-05-09 17:47] phorsuedzie commented on #184
The character sequence is from an automatically generated text version of a chinese PDF. But this text looks more like "pure garbage", e.g. no chinese characters, a lot of `\f` and I wouldn't expect `"\u450"` be included there either.

That leaves some questions:
- Is `get_sort_key` considered stable for an "all assigned codepoint character" string? Or will this value probably change when there ar

[2016-05-09 18:16] camertron commented on #184
Ok, that's a pretty interesting use case. Where does all the garbage come from?

* Yes, `get_sort_key` should be stable for all assigned/defined code points in UCD v6.3.0. TwitterCLDR uses the collation weights defined in the UCD and CLDR data sets, which get updated in lockstep.
* I don't know that I can say `get_sort_key` will fail when encountering every single unassigned/undefined character be

[2016-05-09 18:42] phorsuedzie commented on #184
Thank you for your help.

Output of `pdftotext` on "foreign input data". There was only this single hickup within all first 50 characters of all PDFs we've processed (about 300k).

[2016-05-09 18:45] camertron commented on #184
Huh, very weird. Sounds like a bug 🐞

[2016-05-09 18:50] phorsuedzie commented on #184
Maybe it was even garbage to `pdttotext` (which it failed to refuse) and no "PDF bytes" at all - just some bytes copied from `/dev/urandom` into "chinese-garbage.pdf". You never know what gets uploaded :-)

[2016-05-20 23:13] ptarjan opened #185 "English currencies don't always go on the left"
How can I make `localize` understand that in English we put the cent marker on the right?

[code]

but I want `30¢`

[2016-05-20 23:48] camertron commented on #185
Hey @ptarjan, from what I can tell the CLDR data set does not contain a format for cents, even in the most recent version. I think the closest you're going to be able to get is the decimal form, eg. $0.30. Unfortunately we can only be as accurate as the data :)

[2016-05-20 23:50] ptarjan commented on #185
@camertron thanks for the reply. I guess I'll have to hack around it on my end. :(

[2016-05-20 23:50] #185 closed

[2016-05-24 02:38] ptarjan opened #186 "Do you support locales with countries?"
For example:

[code]

What is going on with `fr-FR`? That doesn't seem to be how french write currency numbers.

[2016-05-24 17:04] camertron commented on #186
Hey @ptarjan, what you're seeing here is unfortunately a current limitation of the library. We only support perhaps 1/5 of all the languages contained in the CLDR data set. This includes fr and fr-CA, but not fr-FR. The behavior you're seeing with fr-FR happens because TwitterCLDR doesn't have any data for that locale and falls back to English.

#### Solution 1: Choose a Different Locale

There ar

[2016-05-24 18:04] ptarjan commented on #186
Thanks for the response. I guess falling back to `:en` was the surprising thing. I would have expected it to raise, but maybe that isn't Ruby-ish.

I don't see `TwitterCldr::Shared::Locale` in my version (3.2.1). I'll do update and see if that helps.

I like solution 2. Is there a mechanical transform we can do and just import the whole CLDR? Size of gem probably isn't an issue since it is a serve

[2016-05-24 19:33] camertron commented on #186
I'd say that falling back to some kind of supported language is the way to go, and if none can be found then raise. Could also print a warning message saying the exact locale couldn't be found.

`Locale` should have been released with v3.3.0.

We can theoretically import the entire CLDR, but I'm a hesitant to do that. Supporting a locale means supporting all the library's features for that locale,

[2016-06-03 07:51] sandstrom opened #187 "Relative time in English has different casing from CLDR"
I've noticed that relative time has different casing (initials upper-cased) from Unicode CLDR.

[code]

These values are lower-case:
https://github.com/unicode-cldr/cldr-dates-full/blob/master/main/en/dateFields.json#L184

These values have first-letter capitalized:
https://github.com/twitter/twitter-cldr-rb/blob/master/resources/locales/en/units.yml#L11

Is this an issue with the imports, or some

[2016-06-03 15:33] camertron commented on #187
Hey @sandstrom, unfortunately the units schema in the CLDR changed after v23 and we never put in the effort to refactor. This also means we're stuck using the [data from v23](http://unicode.org/cldr/trac/browser/tags/release-23/common/main/en.xml#L4771), which contains those upper-cased "In" bits. I would love to get all parts of TwitterCLDR using the latest CLDR data (v29 I believe), but my time

[2016-06-03 23:29] sandstrom commented on #187
@camertron I appreciate the update! I'm also short on time the next 2 weeks. Perhaps I can get around to it later, but I cannot promise anything.

Anyhow, thanks for a great library! We're a tiny startup and this is very helpful to us! It's great that you and Twitter will make this OS contribution ⛵

[2016-06-04 03:54] camertron commented on #187
Glad to hear you're getting some mileage out of the library! Can I ask what your startup is and what you're using TwitterCLDR for? I ask for my own curiosity :)

One thing I forgot to mention is that TwitterCLDR does have the ability to downcase text in just about any script. You can either call `#downcase` on an instance of `LocalizedString` or use the caser directly:

[code]

For these examples

[2016-06-05 15:04] sandstrom commented on #187
It's an finance/employee tool, sold to companies. We're only a couple of people. Most localization occur in the JS-layer (SPA), but some things also need localization at the server. Email bodies and some other server-generated content. For this TwitterCLDR is great!

Great suggestion, that's sort of what I did.

You asked about [renaming the project](https://github.com/twitter/twitter-cldr-rb/issu

[2016-06-07 16:39] camertron commented on #187
Cool thanks for sharing!

I kinda like _vernacular_, although we decided a while ago that renaming the project wouldn't really benefit it in any way. A name is just a name.

I have always wanted to integrate TwitterCLDR into Rails and libraries like Globalize. It's really just time constraints that have prevented it. But, viva la open-source! Hopefully someone with more time/resources can take up

[2016-07-08 00:20] Nakilon opened #190 "Native casefolding Unicode in Ruby 2.4"
Does this Ruby 2.4.0pre feature https://bugs.ruby-lang.org/issues/10085 mean I don't need twitter-cldr-rb anymore if I used it only for casefolding?

[2016-07-08 01:16] camertron commented on #190
Yes I believe that is correct. You shouldn't need Twitter-cldr-rb once case folding is released in Ruby itself. Nice find, I didn't know about this!

[2016-07-08 01:20] Nakilon commented on #190
It's from https://www.ruby-lang.org/en/news/2016/06/20/ruby-2-4-0-preview1-released/

[2016-07-10 16:02] #190 closed

[2016-07-19 06:39] shlok007 commented on #187
@cameartron that sounds cool. I really wish to implement that. Can you please elaborate a little more? :smiley:

[2016-07-19 15:10] camertron commented on #187
@shlok007 Awesome, let me know what you create!

[2016-10-20 15:48] DangerDawson opened #195 "South Korea post code has changed from 6 digits to 5"
From August the 1st 2015 South Korea's postcode went from being 6 digits to 5

Which causes issues for anyone using the library to validate addresses for delivery, as the api that this library uses still supports the old postcode as well as the new one:

`"\\d{3}(?:\\d{2}|-\\d{3})"`

where it should be

`"\\d{5}"`

Hence it seems as though, the following needs updating:

[http://i18napis.appspot.c

[2016-10-20 16:46] camertron commented on #195
Thanks for the bug report, @DangerDawson. I just filed [an issue](https://github.com/googlei18n/libaddressinput/issues/111) to get the data corrected, but who knows if anyone will respond. This library, twitter-cldr-rb, actually has a mechanism built into it that we could potentially use to override the South Korean postal code format until Google's i18napi data is corrected. Do you have any free

[2016-10-20 17:48] camertron commented on #195
Fixed in v3.6.0. Thanks!

[2016-10-20 17:48] #195 closed

[2016-10-25 18:21] DangerDawson commented on #195
Of course…

I will do this later on Today

[2016-10-25 18:25] camertron commented on #195
@DangerDawson This should already be fixed and available in version 3.6.0. No need to do any extra work... unless something else isn't working?

[2016-11-01 05:11] camertron commented on #187
This should be fixed with the release of v4.0.0.

[2016-11-01 05:11] #187 closed

[2016-11-01 05:14] camertron commented on #184
As of v4.0.0, Invalid codepoints cause the collator to raise a `TwitterCldr::Collation::UnexpectedCodePointError`.

[2016-11-01 05:14] #184 closed

[2016-11-01 05:15] camertron commented on #178
This has been fixed in v4.0.0.

[2016-11-01 05:15] #178 closed

[2016-11-01 05:18] camertron commented on #162
All the feature development described in this issue has been implemented and released as v4.0.0, including transliteration and an upgrade to CLDR v29 (not quite the latest, but damn it if they didn't release a new version a few weeks ago).

We have decided _not_ to rename the gem or break it up into different gems. Gem overrides and better CLDR parsing logic remain issues we should continue lookin

[2016-11-01 05:18] #162 closed

[2016-11-01 05:19] camertron commented on #124
At the moment it looks like JRuby 9000 builds are failing because of a YAML parsing issue. I tried to dig into it, but didn't get very far.

[2016-11-01 08:40] sandstrom commented on #162
Awesome @camertron! 🎉

Renaming isn't a major thing, this name totally works. Happy to see a big update! 😃

[2016-11-03 17:07] groe opened #198 "Add tibetan language (bo)"
I have tried adding support für tibetan (`bo`) to twitter-cldr by adding the directory in `resources/locales` and running the `rake update` task with both ruby and jruby (as suggested by @camertron in #186) but I could not get it to work :disappointed:

Some of the rake (sub) tasks failed with errors and I could not figure out the exact reasons (seemed like API incompatibilities, too many paramete

[2016-11-03 17:22] camertron commented on #198
@groe ah sorry about that 😢  I wish adding locales was easier. I'll see what I can do about adding Tibetan.

[2016-11-04 16:12] groe commented on #198
@camertron No worries. That would be perfect, thank you!

[2016-11-11 11:29] groe commented on #198
Any news, @camertron? I've noticed there is a `bo` branch in github already?

[2016-11-12 18:01] camertron commented on #198
Yes, I was able this past week to make locale importing easier (see the [README](https://github.com/twitter/twitter-cldr-rb#adding-new-locales)). [Here's a PR](https://github.com/twitter/twitter-cldr-rb/pull/199) for Tibetan, how does it look?

[2016-11-22 00:01] natemueller opened #201 "Date formatting is incorrect for en_GB"
It looks like eee886e5 reversed month/date order for en_GB.  We noticed that yMd switched from "dd/MM/y" to "M/d/y" and it looks like other date formats changed as well.

[2016-11-22 00:32] camertron commented on #201
Hey @natemueller, it looks like the date formats for en_GB (as well as the base language en) were changed in CLDR v29 which is the dataset used by twitter-cldr-rb v4.0. Unfortunately there's not much you or I can do in the short term to fix the data. I would however encourage you to [file a ticket](http://unicode.org/cldr/trac/newticket) against the CLDR project. You can also email their mailing l

[2016-11-22 02:58] natemueller commented on #201
Can you explain?  From my reading of the XML it looks like dd/MM/y is still correct.  main/en_GB.xml doesn't specify a yMd format.  According to supplemental/supplementalData.xml it inherits from en_001.xml, which defines yMd as dd/MM/r.

[2016-11-22 04:18] natemueller commented on #201
A little more research.  It looks like in CLDR 23 en_GB had a default inheritance and explicitly defined yMd.  In CLDR 24 it switched to inherit from en_001.  In CLDR 27 the yMd definition moved up to en_001.  The ruby library doesn't handle this because ruby-cldr uses I18n::Locale::Fallbacks instead of the parentLocales section in supplementalData.xml when merging files.

Is that accurate?  I'm h

[2016-11-22 19:50] camertron commented on #201
Ahh ok, I just learned something new. I actually had no idea parentLocales existed. I would welcome a PR or two against ruby-cldr and twitter-cldr-rb. Thanks for researching :)

[2017-04-28 23:00] #198 closed

[2017-07-26 20:04] ehoogerbeets opened #206 "Formatting a full datetime with a time zone always gives "UTC" as the timezone name"
This code:

[code]

gives:

[code]

Note that it says "UTC" even though I made it clear that the time zone is America/Los_Angeles (ie. PST). The time itself is correct so the offset is working. Just the time zone identifier string is wrong.

[2017-07-26 20:06] ehoogerbeets commented on #206
Oh, forgot to mention, I am using twittercldr 4.4.0 on Ruby 2.3.3

[2017-07-31 15:35] camertron commented on #206
Hey @ehoogerbeets, thanks for the bug report! This is unfortunately working as intended since nobody has taken the time to look into the (very) complicated task of correct CLDR timezone formatting. The output you're seeing is saying UTC and then some UTC offset. This is all kinds of wrong but it's the best the library can do at the moment. I'll take a look at fixing it, but it might take some time

[2018-05-03 20:42] maxshortzp opened #212 "Feature Request: UAX 29 word boundaries"
Hi,

The README mentions that UAX 29 word boundaries could potentially be implemented if someone wants them.

These would be very helpful for my use case.

I don't know enough about UAX 29/text parsing in general to accomplish this by myself but could potentially contribute code if given direction.

[2018-05-04 14:30] jrochkind opened #213 "lookup all codepoints with general_category (eg) "Lu""
I see the fancy code for using a trie to lookup codepoints with certain properties, but either it doesn't work for `general_category`, or I'm not using it right.

[code]

(PS: Thank you for this awesome gem, a real service to the community)

[2018-05-04 15:54] camertron commented on #213
By any chance are you using a Mac? Apple's case-insensitive file system strikes again...

Try this:

[code]

You can also use "gc" in place of "General_Category".

[2018-05-04 16:37] jrochkind commented on #213
I am indeed using a Mac. okay then! I wonder if there's any way to have the code catch/correct. maybe not.  I guess I should have noticed that the `property_values_for` came back with certain case, and used the same case -- may be nothing but user error then.

    TwitterCldr::Shared::CodePoint.code_points_for_property('General_Category', 'Lu').count
    # => 1441

okay!

Without having that worki

[2018-05-04 16:38] jrochkind commented on #213
Oh wait, it's not just the case for `Lu`, which I think is user error, but the case for `General_Category`, which is a lot more of a gotcha.

I wonder if there _is_ some way to have the code recognize known categories (it is a finite and compile-time known set, right?), and case the properly, or raise if you use one that isn't valid.

[2018-05-04 16:51] camertron commented on #213
Yeah, the gem should be able to normalize the property name so this doesn't happen in the future.

[2018-05-04 17:10] jrochkind commented on #213
I wonder if normalizing is really the right goal, or just raising on unrecognized properties.

I can totally make a property up, and get no indication I did something wrong, just get an empty set result.

    TwitterCldr::Shared::CodePoint.code_points_for_property('this_is_not_a_thing', 'Lu')

Shouldn't that raise?

[2018-05-04 17:42] camertron commented on #213
Maybe? Is that what you would expect as a client of the interface?

[2018-05-04 17:49] maxshortzp commented on #212
Thanks @camertron. That works for our use case.

[2018-05-04 17:49] #212 closed

[2018-05-04 18:08] jrochkind commented on #213
Myself, yes.

[2018-05-04 18:13] camertron commented on #213
Ok, I'm cool with that.

[2018-06-04 08:10] GopalChavan opened #214 "Not working for the Canada 3 digits postal code"
I am using this gem in my application to validate the postal codes
like this
postal_code = TwitterCldr::Shared::PostalCodes.for_territory('ca')
errors.add(:zipcode, :invalid) if !postal_code.valid?('T2P') # false

but this is not working for the postal code of Canada with 3 alphabets

[2018-06-04 16:39] camertron commented on #214
Hey @GopalChavan, forgive my ignorance, but aren't Canadian postal codes always 6 letters long? From the [Wikipedia article](https://en.wikipedia.org/wiki/Postal_codes_in_Canada):

I tried to search for `T2P` on [Canada Post's website](https://www.canadapost.ca/cpo/mc/personal/postalcode/fpc.jsf) without any luck. What am I missing here?

[2018-06-05 15:02] camertron commented on #214
Hey @GopalChavan, if you click on any of those three-letter postal codes that come up in the Google search, you'll see that they correspond to an entire region or neighborhood, not a specific home or business.

What's your use-case? Are you validating partial postal codes or whole neighborhoods?

[2018-06-05 15:20] GopalChavan commented on #214
In our application its the shipping address of the customer

[2018-06-05 15:22] camertron commented on #214
Ok, so your Canadian customers are actually entering 3-digit postal codes?

[2018-06-05 15:33] GopalChavan commented on #214
As of now, the application is not in production, just we are testing the Canadian postal codes. What would be the valid postal code for Canada? Is that 6 digits only or it may 3 digits.

[2018-06-05 17:20] camertron commented on #214
I believe all Canadian postal codes are supposed to be six digits, or more specifically, three digits, a space, then another three digits. For example, this is the address for one of the Bank of Montréal branches:

630, boulevard René-Lévesque Ouest, Montreal, QC H3B 1S6

Notice the H3B 1S6 postal code.

[2018-11-15 07:24] PetrKaleta opened #215 "Localized date is shifted -1 day"
**twitter_cldr (4.4.3)**
**ruby 2.5.3p105 (2018-10-18 revision 65156) [x86_64-darwin18]**

Simple Date example:
[code]

Date vs. DateTime example:
[code]

Am I missing something?

[2018-11-19 16:50] #214 closed

[2018-12-19 19:38] jaymes-stripe opened #216 "FR: short_decimal and currency combination formatter."
I'm working on a request to display `ja` as both a `short_decimal` and a `currency` type at the same time. (not 5億/`short_decimal` or ¥500,000,000/`currency`, but ¥5億)

Is there a way to have a formatter that would deal with both?

I'm happy to start putting together a PR, but would need some help, and it looks like this is a slow-moving repo. Let me know if this is feasible or not.

[2018-12-20 18:36] camertron commented on #216
Hey @jaymes-stripe,

I'm still (semi-actively) maintaining this repo and happy to review any PRs :)

All the formatting logic is derived from CLDR data. I'm not sure if there are specific rules per locale, but it should be feasible to do what you're asking by refactoring and then composing the existing data readers, tokenizers, and formatters. I don't think it's possible to do this with the curren

[2018-12-21 21:15] jaymes-stripe commented on #216
@camertron Thanks! I'll see if I have some time in the next few weeks to take a closer look at this and get something fleshed o ut.

[2019-08-06 17:37] egourlao opened #219 "Infinite recursive calls when using some format rules?"
I'm currently hitting a curious issue where computing some formatted values leads to a stack overflow. If I call `to_rbnf_s` of a `LocalizedNumber` with some numbers and using certain rules, the Ruby interpreter throws me a `SystemStackError: stack level too deep`.

I was able to reproduce this on several environments. Here's an example of a reproductible case:

[code]

Looking at the traceback of

[2019-08-11 21:47] camertron commented on #219
Hey @egourlao, thanks for the bug report! I was able to reproduce this issue and dig in. I found the bug and submitted this PR: https://github.com/twitter/twitter-cldr-rb/pull/209

Unfortunately it seems Travis has decided to stop building branches and pull requests 😞 Unfortunately, while I still maintain this library, I don't work for Twitter anymore and so don't have admin access to debug what's

[2019-08-11 21:49] camertron commented on #216
Closing for now.

[2019-08-11 21:49] #216 closed

[2019-08-11 21:51] camertron commented on #215
Hopefully you were able to get this sorted out, @PetrKaleta. Closing due to inactivity.

[2019-08-11 21:51] #215 closed

[2019-08-16 19:42] egourlao commented on #219
Thanks for looking into it @camertron! That was a quick fix 😄
No problem, hopefully it'll get resolved soon!

[2019-09-03 11:29] egourlao commented on #219
Thank you @camertron!

[2019-09-16 14:11] shaicoleman opened #221 "Country names output short alternatives when not requested"
For example, in the file `common/main/pt.xml` the CLDR contains the following data
[code]

However, the country name outputs the short alternative, when a short alternative wasn't requested. The expected behaviour would be to output the default variant.
[code]
The acronyms might not be well known to all users around the world, and many times would not be easily searchable (e.g. try searching for E

[2019-09-16 14:25] shaicoleman opened #222 "Currencies out of date"
The currency information is out of date, and is missing the following currency codes: BYN/MRU/STN/VES  (UYW is also missing, but it's not in CLDR 35.1)

[2019-09-24 04:57] camertron commented on #222
Hey @shaicoleman, thanks for reporting. I'm in the process of working on updating the library to CLDR v35.1 and hoping to have it ready by the end of the week (time permitting, of course).

[2019-09-24 04:58] camertron commented on #221
Hey @shaicoleman, thanks for reporting. I'm in the process of working on updating the library to CLDR v35.1 and hoping to have it ready by the end of the week. Do you have a sense for whether or not this particular problem is caused by relying on an outdated CLDR release, or is it a problem with the implementation?

[2019-09-24 09:35] shaicoleman commented on #221
It seems to be caused by implementation.
I didn't look into the code, but my guess is that there is a hash of codes => names, and the hash entries get overwritten when they see the second entry with short name

[2019-09-24 09:37] shaicoleman commented on #222
You'd might to want to hold on for another two weeks or so. CLDR 36 seems to be around the corner.

[2019-09-26 19:18] bherila opened #225 "CLDR 35 Dev Branch"
@camertron  do you have a dev branch you could share for the cldr v35?  Anything I can do to help?

Thanks,
Ben

[2019-10-02 20:42] camertron commented on #225
Hey @bherila, apologies for taking so long to respond. Yes, I have a dev branch going, [`cldr35`](https://github.com/twitter/twitter-cldr-rb/tree/cldr35). I also added the additional locales you requested. I've been hacking away at it for the last week or so but there are still a few mysterious test failures. If you've got some extra time I would welcome your help fixing them :) I'd focus on the r

[2019-10-02 20:43] camertron commented on #222
@shaicoleman yeah I see that coming down the pike. I'm hoping v36 won't be a huge breaking change.

[2019-10-02 20:46] camertron commented on #221
@shaicoleman hmm ok. In that case, how would you feel about submitting a PR?

[2019-10-03 00:29] bherila commented on #225
Thanks @camertron , I will have a look and if I manage to fix any of them will send a PR to that branch.

[2019-10-03 00:29] #225 closed

[2019-10-03 00:37] shaicoleman commented on #222
CLDR 36 is out now

[2019-10-03 01:00] camertron commented on #222
@shaicoleman looks like just the beta?

[2019-10-03 08:50] shaicoleman commented on #222
Sorry, the release is tagged in git, but not yet available for download

[2019-10-04 08:57] shaicoleman commented on #222
It's available for download now

[2019-10-04 09:23] shaicoleman commented on #221
@camertron, after running `rake update:locales_resources` it returns the full names

[2019-10-04 19:22] camertron commented on #221
@shaicoleman oh nice, so updating to 35.1 or 36 should fix things for you?

[2019-10-04 19:22] camertron commented on #222
Yeah, just saw it on their Github releases page. Will look into it!

[2019-10-05 09:14] shaicoleman commented on #221
Yes, it should

[2019-10-11 20:41] camertron commented on #222
@shaicoleman The build for my `cldr35` branch is finally passing, so I looked into updating to v36. Unfortunately the update is not trivial. The data set contains a number of vertical arrow characters now (i.e. "↑↑↑") that I don't see mentioned anywhere in the documentation. The mysterious arrows appear to replace existing data, so upgrading will not be straightforward. Rather than delay a release

[2019-10-11 20:42] camertron commented on #221
Please see my comment on #222.

[2019-10-14 09:01] shaicoleman commented on #222
`cldr35` branch looks good

[2019-10-14 09:01] shaicoleman commented on #221
`cldr35` branch looks good

[2019-10-15 18:44] camertron commented on #222
@shaicoleman just published v5.0.0 of the gem. Happy localizing :)

[2019-10-15 18:44] #222 closed

[2019-10-15 18:44] camertron commented on #221
Just published v5.0.0 of the gem :)

[2019-10-15 18:44] #221 closed

[2019-11-04 22:51] pierpi2 opened #228 "Formatting a full datetime with a time zone gives current time timezone (PST instead of PDT)"
Hi, the following code:

    time = Time.parse("2016-08-29T13:57:49-07:00")
    puts time.to_datetime.localize.with_timezone("America/Los_Angeles").to_long_s
    time = Time.parse("2016-11-29T12:32:52-08:00")
    puts time.to_datetime.localize.with_timezone("America/Los_Angeles").to_long_s

gives:

    August 29, 2016 at 1:57:49 PM PST
    November 29, 2016 at 12:32:52 PM PST

instead of (using PD

[2019-11-05 16:56] camertron commented on #228
Yikes, thanks @pierpi2. I'm surprised this wasn't reported a long time ago. I'd like to release the fix in v5.1.0, which will also contain an upgrade to CLDR v36. Correspondingly I'd be much obliged if you could give the [cldr36](https://github.com/twitter/twitter-cldr-rb/tree/cldr36) branch a try to make sure it fixes this issue for you.

[2019-11-12 22:42] pierpi2 commented on #228
@camertron  sorry i just got around testing the branch.  It seems the long form is now correct (it produces the PDT where applicable).  However, the full form still shows -08:00 as UTC offset even for the August 29, 2016 date.
This:
[code]
Outputs:
[code]

[2019-11-16 20:43] camertron commented on #228
Oops, thanks @pierpi2 you're right. I just pushed a fix to the `cldr36` branch if you'd like to test it out. Should be able to release v5.1.0 next week if things look good.

[2019-11-22 07:12] camertron commented on #228
I just published v5.1.0 with an update to CLDR v36 along with full timezone support, something I've been working on for a while. Hopefully this addresses the timezone issues brought up in this issue.

[2019-11-22 07:15] camertron commented on #201
Parent locales are respected and implemented in later versions of the library, so I'll close this issue.

[2019-11-22 07:15] #201 closed

[2019-11-22 07:15] camertron commented on #124
JRuby builds are passing now.

[2019-11-22 07:15] #124 closed

[2019-11-22 07:19] camertron commented on #186
A couple of things to mention here:

1. Adding locales can now be done via a rake task, eg `bundle exec rake add_locale[fr-FR]`. The task should be run once under MRI and again under a recent version of JRuby. You can also run the `script/add_locale.sh <locale>` script, which will invoke the rake tasks using the correct ruby versions.
2. A method now exists on `Locale` to find the most specific su

[2019-11-22 07:19] #186 closed

[2019-11-22 07:24] camertron commented on #213
I totally forgot to do this for v5.0, dang it. I would consider it a breaking change meaning it should be released with a major version bump. Hopefully this isn't too big a deal for clients of the lib, hopefully I look through old issues before releasing v6.0 whenever that happens to be.

[2019-11-22 16:16] jrochkind commented on #213
What makes it a breaking change, that you can get a raise instead of empty return value on invalid input? Doh.

I guess it could be released with an opt-in of some kind, either globally or as an argument to the method call.

Alternately, oh this is probably better, you could provide a different method name with the input normalizing/validating before. `validated_code_points_for_property` or someth

[2019-11-24 16:50] camertron commented on #213
Oh yeah, I like the different method name idea. What about `code_points_for_property!`, following Ruby's idiom for "dangerous" operations?

[2020-05-15 10:52] valodzka opened #233 "Incorrect list formatter behaviour"
TwitterCldr::Formatters::ListFormatter.new(:zh).format(['a', 'b', 'c'], :'unit-narrow')

Expected result: "abc"
Actual result: "c"

[2020-05-15 11:03] valodzka commented on #233
Obvious fix would be replace:

https://github.com/twitter/twitter-cldr-rb/blob/master/lib/twitter_cldr/formatters/list_formatter.rb#L57

with          ` result.gsub!(/(\d)/) { elements[$1.to_i] }`

[2020-05-15 12:52] valodzka opened #234 "Exception when using hyphenate"
Example:

    "Überbewertung".localize(:de).hyphenate('-').to_s
    # NoMethodError (undefined method `include?' for 0:Integer)

[2020-05-18 13:59] camertron commented on #234
Hey @valodzka thanks for the bug report! This should be fixed in v6.0.1 :)

[2020-05-18 13:59] #234 closed

[2020-05-18 14:00] camertron commented on #233
Hey @valodzka thanks for the bug report! This should be fixed in v6.0.1 :)

[2020-05-18 14:00] #233 closed

[2020-07-28 08:49] valodzka opened #235 "Incorrect LikelySubtags.locale_for behaviour"
Based on this http://unicode.org/reports/tr35/#Likely_Subtags I expect that:

    und_Arab_AF ⇒ fa_Arab_AF
    OR
    und_CH ⇒ de_Latn_CH

But actual result is different:

    und_Arab_AF ⇒ af_Arab_ZA
    und_CH ⇒ ch_Latn_GA

[2020-07-28 17:48] camertron commented on #235
Hey @valodzka, thanks for the bug report. Looks like regions are getting mis-identified as languages, eg. AF (Afghanistan) is identified as af (Afrikaans), and CH (Switzerland) is identified as ch (Chamorro).

Should be fixed in v6.0.2.

[2020-07-28 17:48] #235 closed

[2021-06-29 09:25] valodzka opened #241 "Incorrect ListFormatter behaviour"
Example:

[code]

[2021-06-30 03:49] camertron commented on #241
Hey @valodzka, this should work as of v6.6.1.

[2021-06-30 03:49] #241 closed

[2021-06-30 07:41] valodzka commented on #241
@camertron Hmm, a you sure, just tested again:

[code]

[2021-07-08 05:10] camertron commented on #241
Woops, sorry @valodzka! I completely forgot to pass `:unit` when I was testing this.

The change I made in v6.6.1 was to properly merge data from the locale's ancestor chain, but It looks like the data is potentially incomplete in CLDR. I do see inheritance markers in the [data](https://github.com/unicode-org/cldr/blob/master/common/main/pt.xml#L9665), but I think they're getting ignored because p

[2021-07-08 10:27] valodzka commented on #241
I don't know how it handles this issue but java version that useses came CLDR handler this case correctly:

    System.out.println(ListFormatter.getInstance(Locale.forLanguageTag("pt"), ListFormatter.Type.UNITS, ListFormatter.Width.WIDE).format("1", "2", "3"));
    => 1, 2 e 3

[2021-07-08 18:13] camertron commented on #241
I believe ICU uses raw CLDR data, i.e. _not_ the processed release version you can download from the CLDR website.

I think my fix is going to assume all missing values should be inherited. All the data appears to point to doing so as the author's intention anyway.

[2021-07-08 23:24] camertron commented on #241
Ok, should be fixed in v6.6.2.

[2021-12-03 01:08] DRBragg opened #245 "Weekday names `:wide` format is the same as `:abbreviated`"
**Describe the bug**
`TwitterCldr::Shared::Calendar.new(:en).weekdays(:wide)` used to return `{:fri=>"Friday", :mon=>"Monday", :sat=>"Saturday", :sun=>"Sunday", :thu=>"Thursday", :tue=>"Tuesday", :wed=>"Wednesday"}` but after upgrading from `6.4.0` to `6.9.0` it returns `{:fri=>"Fri", :mon=>"Mon", :sat=>"Sat", :sun=>"Sun", :thu=>"Thu", :tue=>"Tue", :wed=>"Wed"}`

**To Reproduce**
Steps to reproduc

[2021-12-04 05:43] camertron commented on #245
Thanks for the bug report @DRBragg :) I see what happened here. It has to do with a change I made along with the upgrade to CLDR v40 that tries to resolve these CLDR alias things earlier in the data generation process. Unfortunately data from the root locale is winning out here when it shouldn't be. I've got a fix in the works.

[2021-12-17 22:12] camertron commented on #245
Hey @DRBragg, following up on this. The fix has proven more difficult than anticipated, just wanted you to know I haven't forgotten about it :)

[2021-12-18 23:24] camertron commented on #245
Alright, a little more context here. After digging through the actual CLDR data, it looks like the lib was actually doing the wrong thing in all versions previous to v6.8.0. In other words, v6.8.0 is actually doing the _right_ thing, but it now appears wrong because of how the lib used to work. This is the kind of thing people are talking about when they say "it's not a bug, it's a feature!"

The

[2021-12-18 23:28] #245 closed

[2021-12-18 23:30] camertron commented on #245
Fixed in v6.10.0.

[2021-12-20 14:57] DRBragg commented on #245
Thanks for taking care of this!

[2021-12-27 21:25] doits opened #247 "Ruby 3.1.0 with Psych 4 forces YAML.safe_load and throws Psych::DisallowedClass"
**Describe the bug**

Just a heads up for Ruby 3.1: It ships with Psych 4 by default and uses `YAML.safe_load` even with `YAML.load`, see https://bugs.ruby-lang.org/issues/17866 and https://github.com/ruby/psych/blob/75ab76e7888df143012afb1cb6b89ccca28a4451/lib/psych.rb#L369-L377.

You get this error for example:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Install ruby 3.1.0 wit

[2021-12-29 20:16] camertron commented on #247
Hey there @doits, thanks for letting me know about this. I've worked up a fix and released it as v6.11.0 😄

[2021-12-29 20:16] #247 closed

[2022-01-12 19:57] jesselasalle opened #248 "Month names :narrow format returns array of digits rather than the first letter of each month"
**Describe the bug**
`TwitterCldr::Shared::Calendar.new(:en).months(:narrow)` used to return:

[
    [ 0] "J",
    [ 1] "F",
    [ 2] "M",
    [ 3] "A",
    [ 4] "M",
    [ 5] "J",
    [ 6] "J",
    [ 7] "A",
    [ 8] "S",
    [ 9] "O",
    [10] "N",
    [11] "D"
]

Now returns:

[
    [ 0] "1",
    [ 1] "2",
    [ 2] "3",
    [ 3] "4",
    [ 4] "5",
    [ 5] "6",
    [ 6] "7",
    [ 7] "8",
    [

[2022-01-16 18:43] jesselasalle commented on #248
Made this PR after a quick analysis: https://github.com/twitter/twitter-cldr-rb/pull/249

[2022-01-19 00:02] camertron commented on #248
Hey @jesselasalle, thanks for bringing this problem to my attention. It turns out a number of other locales were also impacted. I just published v6.11.1 with the fix, please let me know if things are still looking wonky :)

[2022-01-19 00:02] #248 closed

[2022-01-19 00:11] jesselasalle commented on #248
Can't test right now, but thanks a ton for addressing this quickly. I'll follow up!

[2022-02-17 15:19] jasonpenny opened #250 "Ruby 2.7+ compatibility issue/question"
https://github.com/twitter/twitter-cldr-rb#compatibility says `TwitterCLDR is fully compatible with Ruby 2.0, 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 3.0.` but there is a line still using `BigDecimal.new`
(which was deprecated and is now removed in ruby 2.7+ https://github.com/ruby/bigdecimal/blob/master/CHANGES.md#200)

https://github.com/twitter/twitter-cldr-rb/blob/36ae2d7d71f5cfb71f04834f86a68c8693

[2022-02-17 19:08] camertron commented on #250
Hey @jasonpenny, thanks for bringing this up. Unfortunately I don't remember enough about this code to recall when the fractional rules get invoked, and it appears there aren't any tests that cover any fractional numbers (I believe that's because the lib didn't support them originally). In any case, I think we have to consider this codepath as possible. Let's just change `BigDecimal.new(...)` to `

[2022-02-17 21:23] #250 closed

[2022-02-24 21:43] DRBragg commented on #248
@camertron Sorry for the delay on this. I confirmed all is good with this on 6.11.1

[2022-04-11 09:41] sandstrom opened #252 "Warning when running Sorbet"
I've tried out running sorbet on our code base.

I've run into the following problem stemming from Twitter CLDR.

[code]

Same error for `TwitterCldr::Segmentation::StateMachine.instance`, `TwitterCldr::Segmentation::Suppressions.instance`, `TwitterCldr::Shared::DayPeriods.instance` and `TwitterCldr::Timezones::Timezone.instance`. This search will also bring up the relevant files: https://github.c

[2022-04-11 18:34] camertron commented on #252
Hey @sandstrom, this is an interesting one! Let's rename the methods to `instance_for`, which is more in-line with the conventions used in the library. Since we're renaming, it doesn't make sense to `include Singleton` anymore, since we'd have to mark the original `instance` method as private and I'm not sure if Sorbet would take kindly to that (in any case, it's weird). AFAIK the `Singleton` modu

[2022-04-12 08:46] sandstrom commented on #252
@camertron Sounds like a good plan!

Yeah, you're right, doesn't do that much.

- https://ruby-doc.org/stdlib-2.5.1/libdoc/singleton/rdoc/Singleton.html#module-Singleton-label-Implementation
- https://github.com/ruby/ruby/blob/master/lib/singleton.rb

[2022-04-15 05:06] ur5us opened #253 "Why use :one instead of :name"
https://github.com/twitter/twitter-cldr-rb/blob/a1bf5d0207fd7a9e763fa7e8f2a91d15cd0a0e99/lib/twitter_cldr/shared/currencies.rb#L22

Is there a reason why `for_code(:EUR, :en)` returns `{…, :name=>"euro", …}` instead of `name=>"Euro"` as per the locale’s yml file?

[2022-04-15 17:19] camertron commented on #253
Hey @ur5us, thanks for bringing this up. It looks like this code is old enough that it predates the `name` field being available in the CLDR data set. Here's the [currencies.yml file for English](https://github.com/twitter/twitter-cldr-rb/blob/ee8d5b2f023cfc811699be78af17821a162453ac/resources/locales/en/currencies.yml) from 2012.

It should be ok to update the code to use `:name` instead of `:one

[2022-04-21 13:46] sandstrom opened #255 "Remove lone release"
Since the Github releases isn't used (which is totally fine!), how about removing the lone release?

https://github.com/twitter/twitter-cldr-rb/releases

Upon a cursory look, it may seem like this project hasn't had any any releases since 2014, which is obviously incorrect.

[2022-04-21 22:31] camertron commented on #255
Hah yeah that's a good idea. We had grand plans to use releases but it never really happened 😏

I just deleted the release, thanks!

[2022-04-21 22:31] #255 closed

[2022-04-21 22:57] #253 closed

[2022-07-22 11:23] djudd opened #257 "Missing titlecase and/or uppercase mappings?"
**Describe the bug**
I'm not really sure what's going on here, if this is expected for a reason I don't understand or possibly indicative of a larger problem, but:

`ß` doesn't appear to have titlecase or uppercase mappings, although it should map to `Ss` and `SS` respectively. It does casefold to `ss` as expected.

**To Reproduce**
Steps to reproduce the behavior:
[code]

(NB: It doesn't appear t

[2022-07-24 21:48] camertron commented on #257
Hey @djudd, thanks for bringing this to my attention. I'm also a bit surprised by the current behavior.

After an investigation, I've uncovered several interesting things of note:

1. There is no simple uppercase or titlecase mapping for these characters in the Unicode Character Database, which is what TwitterCLDR uses to apply case mappings. Apparently the mappings in the UCD are only 1:1 in orde

[2022-10-17 20:09] aytekin-stripe opened #258 "Add support for yMMMMd (October 7, 2022)"
**Is your feature request related to a problem? Please describe.**
We have a use case to print dates such as "October 7, 2022". We would like support for this format.

**Describe the solution you'd like**
Please include this in supported formats.

[2022-10-17 23:00] camertron commented on #258
Hey @aytekin-stripe, I believe you want the "long" format option, eg:

[code]

This is one of the standard date formats and will produce "October 17, 2022".

[2022-10-18 15:05] aytekin-stripe commented on #258
Thanks @camertron this works great! 👍

[2022-10-18 15:05] #258 closed

[2022-10-25 21:18] stesen-wefunder opened #259 "`format: :long` breaks when combined with currency formatting"
**Describe the bug**
Combining `to_currency` with `format: :long` produces broken output. Specifically, it seems to truncate to the thousands and not abbreviate at all.

**To Reproduce**
Examples:
[code]

[2022-11-01 17:27] edouard opened #260 "Breaking by word a string containing Japanese and Latin characters"
**Describe the bug**

We’re using `TwitterCldr::Segmentation::BreakIterator`’s`each_word` method to count words in multiple languages. We just got an exception for a string in Japanese, which contains both Japanese and Latin characters. This is common for when using Western brand names for instance.

**To Reproduce**

Steps to reproduce the behavior:

[code]

Also, this string works:

[code]

Inte

[2022-11-01 17:45] edouard commented on #260
Answering my own questions here...

[code]

It seems to be due to the length of the latin word:

[code]

Looks like the error we see has to do with the length of the latin word.

https://github.com/twitter/twitter-cldr-rb/blob/09a1db07bf68b397e482d90290b0bb886ee076e1/lib/twitter_cldr/segmentation/cj_break_engine.rb#L149-L155

[2022-11-03 03:51] #260 closed

[2022-11-03 03:57] camertron commented on #260
Hey @edouard, thanks for reporting this. Please see #261 for additional details. The fix has been published in v6.11.4.

[2022-11-03 05:16] camertron commented on #259
Hey @stesen-wefunder, thanks for bringing this to my attention. It looks like the CLDR data set doesn't define any long [currency formats](https://github.com/unicode-org/cldr/blob/618bfe176a3ab8f9aaed0fbc177d64019679db27/common/main/en.xml#L4611) at all - I wasn't able to find them for any language. There is a `:short` format however:

[code]

That said, TwitterCLDR should default to something a l

[2022-11-03 07:00] edouard commented on #260
Cool! Thanks for fixing it so quickly! 👍🏽

[2022-11-04 00:21] stesen-wefunder commented on #259
Hi! Thanks for looking into this!

Thankfully we only use this in one or two places so it's not a big deal. My current very imperfect workaround has been this:
[code]

Yeah would you look at that, I guess that really isn't in the dataset. Huh.
[code]

[2022-11-04 00:40] stesen-wefunder commented on #259
Ohhh, I hadn't connected the dots (or filed an issue at the time), but I'm guessing this is the same root cause as this behavior I've run into before?
[code]

This happens for (at least) `de` and `it`, both of which only have "short" formats starting from the millions.

[2022-11-30 05:34] camertron commented on #259
Yeah that looks very similar 😅 Gotta love the inconsistencies in the CLDR.